---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/queryautocomplete/json?input=Google%20Sydney&key=<API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "Google Sydney, Pirrama Road, Sydney, New South Wales, Australia",
                 "id" : "4f89212bf76dde31f092cfc14d7506555d85b5c7",
                 "matched_substrings" : [
                    {
                       "length" : 6,
                       "offset" : 0
                    },
                    {
                       "length" : 6,
                       "offset" : 29
                    }
                 ],
                 "reference" : "ClROAAAAtXlZQ0sj8JPnebMvyg6toUJO73rTXMaDdLeCuOGVpCfysUKXIXmwEctwqC30A6TQFEK3xH-K-NpMgFC0SZmCzhFg3ioD31mFFDPdwMe4Yx4SEM6MJCDu8SCT7ydWK9LOjZcaFHQyMZZ-TKhzRkVIXOyefdoBysra",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Google Sydney"
                    },
                    {
                       "offset" : 15,
                       "value" : "Pirrama Road"
                    },
                    {
                       "offset" : 29,
                       "value" : "Sydney"
                    },
                    {
                       "offset" : 37,
                       "value" : "New South Wales"
                    },
                    {
                       "offset" : 54,
                       "value" : "Australia"
                    }
                 ],
                 "types" : [ "establishment" ]
              },
              {
                 "description" : "Get On Google, Macquarie Street, Sydney, New South Wales, Australia",
                 "id" : "42224ed8c9da910b16d7c028543134e033c3d987",
                 "matched_substrings" : [
                    {
                       "length" : 13,
                       "offset" : 0
                    },
                    {
                       "length" : 6,
                       "offset" : 33
                 [...]
