---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<API_KEY>&location=48.85341,2.3488&radius=1500&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "debug_info" : [],
           "html_attributions" : [
              "Listings by \u003ca href=\"http://www.yellowpages.com.au/\"\u003eYellow Pages\u003c/a\u003e"
           ],
           "next_page_token" : "ClRHAAAAnDKe9RPWFabrX5SVy-t0SjB1Y9KLi_E695o6BHfHJC5W7jpe2L1GGslzE5IMAFdL0frt2mF_pOEMSIP61faAuOInaFayQtCNLqMwTzD3O2cSEApg1Lwjt_TfULJQpK_NC10aFHxOjRk4NpoABd77a1N9GG4Ed4HF",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8599827,
                       "lng" : 151.2021282
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8552584,
                          "lng" : 151.2031401
                       },
                       "southwest" : {
                          "lat" : -33.8657895,
                          "lng" : 151.2000123
                       }
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "92f1bbd4ecab8e9add032bccee40a57a8dfd42b4",
                 "name" : "Barangaroo",
                 "reference" : "CpQBgQAAAFds3kKoBhY_bWP__do3Awjaof-F4-InHaKRB-aCA1b43-Ijj-HOMdS3BmOCe5wQagErIQa7MCchC-MV-QvwvUkf47Km2h3-OxYM7zsSkJTpF1tCK_uFjQeh_2k4TNWHcHgcBlwN752a3jt9Ppg5w5MziCzTrJgyx3X_ID37ZRrZa1x8aZYptPrq_1dyeDHIoxIQxCtRdOAV66vzKsPSR57MdBoURq8328zccSCVI5pt62pUYcU2aSI",
                 "types" : [ "locality", "political" ],
                 "vicinity" : "Barangaroo"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868232,
                       "lng" : 151.194478
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/casino-71.png",
                 "id" : "44fdc977984610cd873c790a7d850e8185ed0e5e",
                 "name" : "The Star",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 645,
                       "html_attributions" : [],
                       "photo_reference" : "CnRrAAAAtUkd24Qibb42TPGQaK1155B8PdMv_CQgACVkYntda1UDpARxQ5v9uMtV-6cksBWK4fcGnGZhUK2fSyTJVCueSkkFGczm_iXGyWVFGDsuCGqQ1pGaJKrDnbjojnhDHlCVEzqY7Lt5U5h90-uvS40RtBIQVHPEfpHeWRTMJgAP6FkeahoUY0LjabY0-5NvKlV3PLF0w1WkHEc",
                       "width" : 1024
                    }
                 ],
                 "rating" : 4.2,
                 "reference" : "CnRmAAAAmDyGRSQGcMxK4wv4v82lEEfpCOcofqVM9NLVr-00GTvOutpLMUiizeqOa-NfQ6yrNwg25xmrngeN-NkKlC9p8hoBmfWpKwuKI-B-3MgbcyCvO-F7fGr8BYJmP9MUaK4WSET35shqM5xVpq6opN51mhIQlcS70A9XRjQ_F-2qDg-jdBoU8X0WYyOUIVux65kLlFyf1RxjJg4",
                 "types" : [ "casino", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : [...]
