---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=<API_KEY>&location=48.85341,2.3488&radius=1500&sensor=false&types=bank%7Catm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "debug_info" : [],
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 48.863839,
                       "lng" : 2.338936
                    }
                 },
                 "id" : "d2a4b5f89c76a09cc4551db2f027117f2c39b59b",
                 "reference" : "CnRuAAAAAf0Apuean_PjEPAPiGJbl7H_8hH_tyI40kIdMXa-v8dalQFZDlI4F1_qkQwmt_rTQ2ffD14wmVjOF9kdOPL6668Br_6WLV_EuNJAuug0JyqwEGpE_aVD8o5iwKAlV5L1kp4e4SFNoG-Saxk0laaJcRIQquiGH7B5_un67FPiVHIIPxoUpQxpVkWyDMdqpm3C_wbT621MaWU"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 48.858512,
                       "lng" : 2.355386
                    }
                 },
                 "id" : "46eb2d860570ab88af92657d1b2fdd1842a3[...]
