---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=Google%20Sydney&key=<API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "Google Sydney, Pirrama Road, Sydney, New South Wales, Australia",
                 "id" : "4f89212bf76dde31f092cfc14d7506555d85b5c7",
                 "matched_substrings" : [
                    {
                       "length" : 6,
                       "offset" : 0
                    },
                    {
                       "length" : 6,
                       "offset" : 29
                    }
                 ],
                 "reference" : "ClROAAAAqMaLM46d15V4PLE_YSp1o0vTZmO7hkiSobhCcV_KANk3o4MqzxC41QHaTciEPuLdbv-CHx8g9xz1gunS-NLworOhO4oHKTwYTVRKFixQ5P0SEIdMyEn40mUnoCDm30XVMqsaFL75JcXqw9NRUxyizYSzMA1jx0Gf",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Google Sydney"
                    },
                    {
                       "offset" : 15,
                       "value" : "Pirrama Road"
                    },
                    {
                       "offset" : 29,
                       "value" : "Sydney"
                    },
                    {
                       "offset" : 37,
                       "value" : "New South Wales"
                    },
                    {
                       "offset" : 54,
                       "value" : "Australia"
                    }
                 ],
                 "types" : [ "establishment" ]
              },
              {
                 "description" : "Get On Google, Macquarie Street, Sydney, New South Wales, Australia",
                 "id" : "42224ed8c9da910b16d7c028543134e033c3d987",
                 "matched_substrings" : [
                    {
                       "length" : 13,
                       "offset" : 0
                    },
                    {
                       "length" : 6,
                       "offset" : 33
                 [...]
