---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<API_KEY>&reference=CmRYAAAAciqGsTRX1mXRvuXSH2ErwW-jCINE1aLiwP64MCWDN5vkXvXoQGPKldMfmdGyqWSpm7BEYCgDm-iv7Kc2PF7QA7brMAwBbAcqMr5i1f4PwTpaovIZjysCEZTry8Ez30wpEhCNCXpynextCld2EBsDkRKsGhSLayuRyFsex6JA6NPh9dyupoTH3g&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "debug_info" : [],
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "48",
                    "short_name" : "48",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Pirrama Road",
                    "short_name" : "Pirrama Road",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Pyrmont",
                    "short_name" : "Pyrmont",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "NSW",
                    "short_name" : "NSW",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "AU",
                    "short_name" : "AU",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "2009",
                    "short_name" : "2009",
                    "types" : [ "postal_code" ]
                 }
              ],
              "formatted_address" : "5/48 Pirrama Road, Pyrmont NSW, Australia",
              "formatted_phone_number" : "(02) 9374 4000",
              "geometry" : {
                 "location" : {
                    "lat" : -33.866933,
                    "lng" : 151.195791
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
              "id" : "4f89212bf76dde31f092cfc14d7506555d85b5c7",
              "international_phone_number" : "+61 2 9374 4000",
              "name" : "Google Sydney",
              "photos" : [
                 {
                    "height" : 486,
                    "html_attributions" : [
                       "\u003ca href=\"https://plus.google.com/105850346606847400426\"\u003eBrandon Grimshaw\u003c/a\u003e"
                    ],
                    "photo_reference" : "CnRtAAAA1rIq9w09t6CQfFcXIQ-G3yPY3_Shys6yWac8MSNdYKxL8yVazJZBVFAZnM4v1Hwd8Us5QOk0Tol-l36RGRkrRTtmCOqr6k6jQtm58cJmRcaBXzbTo39T4Tx0kp2KE19azn-ae_TD3j0gtNTSSLb5NxIQFYNrribJgpcrJb_HTKuPaRoU641pc6PZCHpZeXZ4DnDpDL6NOEQ",
                    "width" : 648
                 },
                 {
                    "height" : 480,
                    "html_attributions" : [
                       "\u003ca href=\"https://plus.google.com/111157746837259488919\"\u003eTim Lacey\u003c/a\u003e"
                    ],
                    "photo_reference" : "CnRtAAAAzN0Iv7CkhTJYRGWivcA9U3LChynRTFh-sEjID6tfgqm3gaGdAI0p3X-ROFsnyWAS75hOM8rdgzLGNNayz3tn1doTVCpXWvunsA2MC4wCCEEfYHIlOiAsXJwyg507yRhZ9jtGRB9XjmsQcOF6OjsjXBIQMb6b_WR4Y4U_6M9Lq-n5cRoUNZoijRykexZ[...]
